@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Plus+Jakarta+Sans&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: black;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

h2 {
  background: transparent;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
}
@media all and (max-width: 1200px) {
  h2 {
    font-size: 40px;
  }
}

.hidden {
  opacity: 0;
  transform: translateY(-100px);
  transition-duration: 1.5s;
}

.show {
  opacity: 1;
  transform: translateY(0px);
}

#nav {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 20px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.6s ease-out;
  background: black;
  z-index: 999;
}
#nav .logo,
#nav ul,
#nav li,
#nav li a {
  background: transparent;
}
#nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#nav .logo,
#nav a {
  font-size: 18px;
}
#nav .logo,
#nav a,
#nav .bars {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
#nav .logo:hover,
#nav .text a:hover,
#nav .button-container a:hover,
#nav .bars:hover {
  color: #35baf6;
  transition-duration: 0.5s;
}
#nav li,
#nav .button {
  margin: 0px 20px;
}
#nav .button {
  font-size: 23px;
}
#nav .button-container {
  margin: 0;
}
#nav .bars {
  display: none;
}
#nav .logo {
  flex: 1;
  margin: 0px;
}
@media all and (max-width: 900px) {
  #nav .menu {
    background-color: black;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  #nav .line {
    fill: none;
    stroke: white;
    stroke-width: 10;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  #nav .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 8;
  }
  #nav .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 8;
  }
  #nav .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 8;
  }
  #nav .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8;
  }
  #nav .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 0;
  }
  #nav .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8;
  }
  #nav ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #nav a {
    font-size: 20px;
  }
  #nav .text {
    order: 2;
    width: 100%;
    text-align: center;
    margin: 25px;
  }
  #nav .button-container {
    order: 3;
    margin: 30px 0;
  }
  #nav .button {
    font-size: 30px;
  }
  #nav {
    border-radius: 0 0 25px 25px;
    background-color: black;
  }
  #nav.inactive {
    border-radius: 0;
  }
  #nav.inactive li.text, #nav.inactive li.button-container {
    display: none;
  }
  #nav .logo:hover {
    color: white;
  }
}

#cover {
  background-color: transparent;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cover #video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  filter: blur(0.9px);
}
#cover h1 {
  color: white;
  background-color: transparent;
  font-size: 9.5vw;
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 0;
  padding-bottom: 130px;
  text-align: center;
  position: fixed;
}
@media all and (max-width: 1200px) {
  #cover h1 {
    font-size: 120px;
  }
}
@media all and (max-width: 900px) {
  #cover h1 {
    font-size: 85px;
  }
}
#cover .arrow-container {
  background: transparent;
  display: block;
  width: 100px;
  height: 90px;
  position: absolute;
  bottom: 60px;
  position: fixed;
}
#cover .arrow-container:hover {
  cursor: pointer;
}
#cover .arrow-container:hover .arrow {
  top: 50%;
}
#cover .arrow {
  position: absolute;
  left: 50%;
  transition: all 0.4s ease;
}
#cover .arrow:before, #cover .arrow:after {
  transition: all 0.4s ease;
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: white;
  width: 4px;
  height: 50px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
#cover .arrow:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
#cover .arrow:nth-child(1) {
  opacity: 0.3;
  top: 35%;
}
#cover .arrow:nth-child(2) {
  opacity: 0.6;
  top: 55%;
}
#cover .arrow:nth-child(3) {
  opacity: 0.9;
  top: 75%;
}

#about {
  background: white;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@media all and (max-width: 900px) {
  #about {
    flex-wrap: wrap;
    padding: 5px;
  }
}
#about img {
  max-height: 37vw;
  border-radius: 20px;
  float: right;
  transition-duration: 0.5s;
  margin: 50px;
  background-color: white;
}
@media all and (max-width: 1200px) {
  #about img {
    max-height: 40vw;
  }
}
@media all and (max-width: 900px) {
  #about img {
    margin: 0px;
    margin-bottom: 40px;
    max-height: 400px;
  }
}
@media all and (max-width: 550px) {
  #about img {
    margin: 0px;
    margin-bottom: 40px;
    max-height: 85vw;
  }
}
#about img:hover {
  transform: scale(1.05);
}
#about .text-container {
  background: transparent;
}
#about p {
  background-color: white;
  margin: 20px;
  margin-left: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 45px;
}
@media all and (max-width: 1200px) {
  #about p {
    line-height: 35px;
  }
}
@media all and (max-width: 900px) {
  #about p {
    font-size: 21px;
    margin: 30px;
    margin-top: 0;
  }
}
#about .about-title {
  margin: 20px;
  margin-left: 30px;
  color: black;
}
@media all and (max-width: 900px) {
  #about .about-title {
    margin-left: 30px;
    margin-top: 60px;
  }
}

#projects {
  background: #18191a;
  min-height: 100vh;
  position: relative;
  padding: 10px;
}
#projects .cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  background: #18191a;
}
#projects .card {
  background-color: white;
  height: 400px;
  width: 400px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  position: relative;
}
#projects .card.expanded {
  width: 90vw;
  height: 95vh;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}
@media all and (max-width: 1300px) and (min-width: 900px) {
  #projects .card.expanded {
    width: 85vw;
  }
}
#projects .card:not(.expanded):hover {
  transform: scale(1.08);
}
@media all and (max-width: 900px) {
  #projects .card:not(.expanded):hover {
    transform: none;
  }
}
#projects .card.expanded img {
  width: 90vw;
  height: auto;
}
@media all and (max-width: 1300px) and (min-width: 900px) {
  #projects .card.expanded img {
    width: 85vw;
    height: auto;
  }
}
#projects .card.expanded {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  cursor: auto;
}
#projects .card.expanded::-webkit-scrollbar {
  display: none;
}
#projects .card .overlay {
  position: absolute;
  background: linear-gradient(transparent, 60%, hsla(0, 0%, 0%, 0.7));
  height: 100%;
  width: 100%;
  opacity: 0%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
@media all and (max-width: 900px) {
  #projects .card .overlay {
    opacity: 100%;
  }
  #projects .card .overlay h3 {
    font-size: 35px !important;
  }
}
#projects .card:hover .overlay {
  opacity: 100%;
}
#projects .card.expanded .overlay {
  display: none;
}
#projects .card .overlay h3 {
  background: transparent;
  color: white;
  font-family: "Be Vietnam Pro", sans-serif;
  position: absolute;
  font-size: 40px;
  bottom: 20px;
  left: 20px;
}
#projects .content p {
  background-color: white;
  padding: 20px;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
}
#projects .non-focus {
  display: none;
}
#projects img {
  height: 400px;
}
@media all and (max-width: 900px) {
  #projects .arm-card.expanded img {
    width: 147vw;
    height: auto;
  }
}
@media all and (max-width: 500px) {
  #projects .arm-card.expanded img {
    width: 269vw;
    height: auto;
  }
}
@media all and (max-width: 900px) {
  #projects .ev3-card.expanded img {
    width: 136vw;
    height: auto;
  }
}
@media all and (max-width: 500px) {
  #projects .ev3-card.expanded img {
    width: 246vw;
    height: auto;
  }
}
@media all and (max-width: 900px) {
  #projects .discord-card.expanded img {
    width: 118vw;
    height: auto;
  }
}
@media all and (max-width: 500px) {
  #projects .discord-card.expanded img {
    width: 274vw;
    height: auto;
  }
}
@media all and (max-width: 900px) {
  #projects .tic-card.expanded.expanded img {
    width: 157vw;
    height: auto;
  }
}
@media all and (max-width: 500px) {
  #projects .tic-card.expanded.expanded img {
    width: 275vw;
    height: auto;
  }
}
#projects .project-title {
  margin: 17px;
  margin-left: 38px;
  margin-bottom: 30px;
  color: white;
}
@media all and (max-width: 900px) {
  #projects .project-title {
    margin-left: 22px;
  }
}
#projects .project-title.hide {
  display: none;
}
#projects .project-arrow {
  display: none;
  background: transparent;
  transition-duration: 0.3s;
  width: 35px;
  height: 35px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  cursor: pointer;
}
#projects .project-arrow:hover {
  border-top-color: #35baf6;
  border-right-color: #35baf6;
}
#projects .project-arrow.expanded {
  display: inline-block;
}
@media all and (max-width: 900px) {
  #projects .project-arrow.expanded {
    display: none;
  }
}
#projects .arrow-right {
  transform: rotate(45deg);
  top: 50vh;
}
#projects .arrow-left {
  transform: rotate(-135deg);
}
#projects .project-close {
  overflow: hidden;
  position: absolute;
  border: none;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  border-radius: 10px;
  background: white;
  color: #18191a;
  cursor: pointer;
  transition: 0.4s;
  float: right;
  right: 20px;
  top: 20px;
  display: none;
}
#projects .project-close.expanded {
  display: block;
}
#projects .project-close:hover {
  background: transparent;
  color: #35baf6;
}
#projects .project-close:before, #projects .project-close:after {
  position: absolute;
  top: 15%;
  left: calc(50% - 0.0625em);
  width: 3px;
  height: 70%;
  border-radius: 0.125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: "";
}
#projects .project-close:after {
  transform: rotate(-45deg);
}

#experience {
  background: white;
  min-height: 100vh;
  position: relative;
  padding: 20px;
  font-family: "Montserrat";
}
#experience .experience-title {
  margin-top: 12px;
  margin-left: 28px;
  margin-bottom: 25px;
}
@media all and (max-width: 900px) {
  #experience .experience-title {
    margin-left: 12px;
    margin-bottom: 0px;
  }
}
#experience .timeline-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background: white;
}
#experience .timeline {
  width: 90%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  background: white;
}
@media only screen and (min-width: 900px) {
  #experience .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #18191a;
  }
}
#experience .timeline ul {
  list-style: none;
  background: white;
}
#experience .timeline ul li {
  padding: 30px;
  background-color: #18191a;
  color: white;
  border-radius: 20px;
  margin-bottom: 15px;
}
#experience .timeline ul li:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 900px) {
  #experience .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 60px;
  }
  #experience .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  #experience .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  #experience .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #18191a;
    top: 0px;
  }
  #experience .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  #experience .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
}
#experience .timeline-content {
  background: transparent;
}
#experience .timeline-content a {
  cursor: pointer;
  transition-duration: 0.3s;
  text-decoration: none;
  background: transparent;
  color: white;
}
#experience .timeline-content a .icon {
  float: left;
  margin-right: 10px;
  margin-top: 1px;
  font-size: 26px;
  transition-duration: 0.1s;
}
#experience .timeline-content a .text {
  transition-duration: 0.1s;
}
#experience .timeline-content a:hover {
  color: #35baf6;
}
@media only screen and (max-width: 900px) {
  #experience .timeline-content a:hover {
    color: white;
  }
}
#experience .timeline-content h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 5px;
  background-color: transparent;
}
#experience .timeline-content p {
  font-size: 23px;
  line-height: 30px;
  font-weight: 300;
  background-color: transparent;
}
#experience .timeline-content .date {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: white;
  background: transparent;
}
@media only screen and (min-width: 900px) {
  #experience .timeline-content .date {
    font-size: 19px;
    font-weight: 400;
    color: black;
    background: transparent;
    position: absolute;
    top: -30px;
    left: 10px;
  }
}

#footer {
  height: 45px;
  background: #18191a;
  position: relative;
}
#footer h2 {
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}/*# sourceMappingURL=styles.css.map */